body {
    display: flex;
    flex-direction: column;
}


main {
    width: 1000px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin-right: auto;
    margin-left: auto;
}

aside {
    flex: 0.5;
}

section {
    flex:auto;
}

li {
    list-style-type: none;
}

